<h1>ACP Brevet Times</b>

{% for item in items %}
<h1>Checkpoint:</h1>
  <p> Miles: {{ item.miles }} <br>
  	KM: {{ item.km }} <br>
  	Location: {{ item.location }} <br>
  	Open time: {{ item.open }} <br>
  	Close time: {{ item.close }} </p>
{% endfor %}

{% if items == null %}
  <h1> No items added! </h1>
{% endif %}